html {
    font-family: sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}


/* Entête */
header {
    background: rgb(199, 62, 74);
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    margin: auto;
    color: white;
}

/* Menu de sélection */
label {
    padding-top: 1em;
    padding-bottom: 1em;
}

#tags-select {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(255, 223, 226);
    font-size: 1em;
    border: 1px solid rgb(199, 62, 74);
    border-radius: 5px;
    cursor: pointer;
}

#go {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    color: #FFFFFF;
    background-color: rgb(199, 62, 74);
    border: 1px solid rgba(199, 62, 74, 0.3);
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

/* Contenu */
img {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    flex: 200px;
    padding: 10px;
    margin: 10px;
    width: 30em;
    background-color: rgb(255, 223, 226);
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 15em;
    margin: auto;
    font-size: 1em;
}

.description {
    text-align: justify;
}

/*Les Tags*/
.art-contemporain {
    width: auto;
    height: 20px;
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.atelier {
    width: auto;
    height: 20px;
    background-color: azure;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.bd {
    width: auto;
    height: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.balade {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: brown;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.brocante {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.cinema {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.cirque {
    width: auto;
    height: 20px;
    background-color: burlywood;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.clubbing {
    width: auto;
    height: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.concert {
    width: auto;
    height: 20px;
    background-color: cyan;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.conference {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: firebrick;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.danse {
    width: auto;
    height: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.enfants {
    width: auto;
    height: 20px;
    background-color: chartreuse;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.expo {
    width: auto;
    height: 20px;
    background-color: hotpink;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.gourmand {
    width: auto;
    height: 20px;
    background-color: coral;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.histoire {
    width: auto;
    height: 20px;
    background-color: ivory;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.humour {
    width: auto;
    height: 20px;
    background-color: darkgoldenrod;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.innovation {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: chocolate;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.jeux-2024 {
    width: auto;
    height: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.lgbt {
    width: auto;
    height: 20px;
    background-color: khaki;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.litterature {
    width: auto;
    height: 20px;
    background-color: lawngreen;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.loisirs {
    width: auto;
    height: 20px;
    background-color: magenta;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.musique {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: navy;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.nature {
    width: auto;
    height: 20px;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.peinture {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: crimson;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.photo {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.salon {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: forestgreen;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.sciences {
    width: auto;
    height: 20px;
    background-color: fuchsia;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.solidarite {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: rosybrown;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.spectacle-musical {
    width: auto;
    height: 20px;
    background-color: salmon;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.sport {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: teal;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.street-art {
    width: auto;
    height: 20px;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}

.theatre {
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background-color: indianred;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    line-height: 30px;
}




